body.events
  section.heroEvents
    background: url(../img/eventsHero.jpg) no-repeat center center
    background-size: cover
    text-align: center
    height: auto
    padding: 140px 20px 60px 20px
    +tablet
      height: auto
      padding: 150px 100px
    +desktop
      height: 690px
      padding: 300px 300px
    h1
      color: #E0DFDE
      font-weight: 800
      font-size: 30px
      +tablet
        font-size: 40px
      +desktop
        font-size: 65px
        margin-bottom: 10px
    h2
      color: #E0DFDE
      font-weight: 300
      font-size: 20px
      +tablet
        font-size: 30px
      +desktop
        font-size: 40px
  section.missionTrip
    background: url(../img/eventsMissionTripBG.jpg) no-repeat center center
    background-size: cover
    text-align: left
    height: auto
    padding: 40px 10px
    +desktop
      height: auto
      padding: 100px 100px
      text-align: center
    h2
      color: #3C4C55
      font-weight: 900
      font-size: 30px
      margin-bottom: 10px
      +tablet
        font-size: 40px
      +desktop
        font-size: 64px
    p
      color: #5A453A
      font-weight: 600
      font-size: 16px
      margin-bottom: 20px
      +tablet
        font-size: 24px
        margin-bottom: 40px
      +desktop
        font-size: 30px
        margin-bottom: 60px
    .details
      width: 100%
      display: grid
      grid-gap: 10px
      grid-template-columns: 1fr
      margin-bottom: 20px
      +tablet
        width: 100%
        grid-template-columns: 1fr
      +desktop
        width: 970px
        margin: 40px auto
        grid-template-columns: 1fr 1fr
        grid-gap: 40px
      .detailInfo
        width: 100%
        text-align: left
        +tablet
          width: 100%
        +desktop
          width: 480px
        h3
          color: #5A453A
          font-weight: 600
          font-size: 24px
          +tablet
            font-size: 30px
        p
          color: #5A453A
          font-weight: 400
          font-size: 16px
          +tablet
            font-size: 20px
        li
          color: #5A453A
          font-weight: 400
          font-size: 16px
          +tablet
            font-size: 20px
    a.bookTrip
      border: 1px solid #5A453A
      border-radius: 5px
      text-transform: uppercase
      color: #5A453A
      font-weight: 700
      font-size: 15px
      text-decoration: none
      padding: 12px 20px
  section.otherTrips
    background: url(../img/eventsOtherTrips.jpg) no-repeat center center
    background-size: cover
    text-align: center
    height: auto
    padding: 50px 10px
    +desktop
      height: auto
      padding: 70px 50px
    h2
      color: #5A453A
      font-weight: 600
      font-size: 30px
      +desktop
        font-size: 40px
    .trips
      display: grid
      grid-gap: 10px
      grid-template-columns: 1fr
      margin-bottom: 20px
      margin-left: auto
      margin-right: auto
      width: 100%
      +desktop
        grid-template-columns: 1fr 1fr 1fr
        width: 1200px
      .tripBlurb
        width: 100%
        color: #5A453A
        +desktop
          width: 330px
      h4
        font-size: 30px
      p
        font-size: 16px
        +tablet
          font-size: 20px
    a.viewAll
      background-color: #3C4C55
      color: white
      font-weight: 500
      text-decoration: none
      text-transform: uppercase
      font-size: 15px
      padding: 12px 40px
      border-radius: 5px
  section.worldEvangelismConf
    background: url(../img/eventsWEC.jpg) no-repeat center center
    background-size: cover
    text-align: center
    height: auto
    padding: 50px 10px
    +desktop
      height: auto
      padding: 70px 70px
      text-align: center
    h2
      color: #3C4C55
      font-weight: 800
      font-size: 30px
      margin-bottom: 10px
      text-align: center
      +tablet
        font-size: 40px
      +desktop
        font-size: 64px
        margin-bottom: 50px
    .container
      width: 100%
      margin: 0 auto
      display: grid
      grid-template-columns: 1fr
      grid-gap: 20px
      img
        margin: auto
      +desktop
        width: 1000px
        grid-template-columns: 1fr 1fr
      .details
        text-align: center
        color: #5A453A
        +desktop
          text-align: left
        h4
          font-weight: 600
          font-size: 24px
          +tablet
            font-size: 30px
          +desktop
            margin-bottom: 10px
        p
          font-size: 16px
          +tablet
            font-size: 20px
          +desktop
            margin-bottom: 20px
            line-height: 23px
            width: 430px
        a.register
          border: 1px solid #5A453A
          border-radius: 5px
          text-transform: uppercase
          color: #5A453A
          font-weight: 700
          font-size: 15px
          text-decoration: none
          padding: 12px 20px
