body.events
  section.heroEvents
    background: url(../img/eventsHero.jpg) no-repeat center center
    background-size: cover
    text-align: center
    height: auto
    padding: 140px 20px 60px 20px
    +tablet
      height: auto
      padding: 150px 100px
    +desktop
      height: 690px
      padding: 300px 300px
    h1
      color: #E0DFDE
      font-weight: 800
      font-size: 30px
      +tablet
        font-size: 40px
      +desktop
        font-size: 65px
        margin-bottom: 10px
    h2
      color: #E0DFDE
      font-weight: 300
      font-size: 20px
      +tablet
        font-size: 30px
      +desktop
        font-size: 40px
  section.missionTrip
    background: url(../img/eventsMissionTripBG.jpg) no-repeat center center
    background-size: cover
    text-align: center
    height: auto
    padding: 140px 20px 60px 20px
    +tablet
      height: auto
      padding: 150px 100px
    +desktop
      height: 690px
      padding: 100px 100px
    h2
      color: #3C4C55
      font-weight: 900
      font-size: 30px
      +tablet
        font-size: 40px
      +desktop
        font-size: 64px
