body.missionaries
  section.missionaryHero
    background: url(../img/missionariesHero.jpg) no-repeat center center
    background-size: cover
    text-align: center
    height: auto
    padding: 140px 20px 60px 20px
    +tablet
      height: auto
      padding: 150px 100px
    +desktop
      height: 690px
      padding: 300px 300px
    h1
      color: #E0DFDE
      font-weight: 800
      font-size: 30px
      +tablet
        font-size: 40px
      +desktop
        font-size: 65px
        margin-bottom: 10px
    h2
      color: #E0DFDE
      font-weight: 300
      font-size: 20px
      +tablet
        font-size: 30px
      +desktop
        font-size: 40px
  .mapSection
    width: 100%
    height: 650px
    background-color: rgba(0,0,0,.5)
  section.interactiveMap
    background: url(../img/missionariesMapBG.jpg) no-repeat center center
    background-size: cover
    text-align: left
    height: auto
    padding: 40px 10px
    +desktop
      height: auto
      padding: 100px 100px
      text-align: center
    h2
      color: #3C4C55
      font-weight: 900
      font-size: 30px
      margin-bottom: 10px
      +tablet
        font-size: 40px
      +desktop
        font-size: 64px
    ul
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
      width: 80%
      color: #3C4C55
      font-weight: 800
      font-size: 25px
      margin: 35px auto 0px auto
      a.continent
        color: #3C4C55
        text-decoration: none
      li
        margin: 0px 10px
    .missionaryInfo
      padding-top: 40px
      h2
        margin-bottom: 40px
    .missionaryDetails
      display: grid
      grid-gap: 30px
      grid-template-columns: 1fr 3fr
      width: 1000px
      margin: auto
      .details1
        width: 400px !important
        img
          width: 400px
          height: auto
      .details2
        text-align: left
        p
          font-size: 30px
          font-weight: 700
          color: #5A453A
        p.link
          font-size: 18px
          margin-bottom: 10px
          padding: 0px
      margin-bottom: 60px
    a.giveBtn
      border: 1px solid #5A453A
      border-radius: 5px
      text-transform: uppercase
      color: #5A453A
      font-weight: 700
      font-size: 15px
      text-decoration: none
      padding: 12px 20px
